*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}

#app, #svelte, :root, body {
	background-color: #000;
	min-width: min-content;
	min-height: min-content;
	width: 100%;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

canvas, img, picture, svg, video {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

button, input, select, textarea {
	font: inherit;
}

button {
	border-radius: 0;
	border-style: none;
	background-color: #000;
}

button:hover {
	background-color: #fff;
}

/* THEMES */

/* Colors:
Onyx: #35393C
Bone: #C8C2AE
Sea Green: #008148
Wisteria: #C490D1
Dark Purple: #351E29
*/
#app {
	--theme-nav: #351E29;
	--theme-bg: whitesmoke;
	--theme-foot: #C490D1;
}

#app.dark {
	--theme-bg: #35393C;
}




.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: var(--theme-nav);
	color: #fff;
}

.nav__body {
	flex-grow: 1;
	display: flex;
	border: 1px solid red;
	justify-content: space-between;
	flex-wrap: wrap;
}

.nav__body>* {
	display: inline-block;
}

.nav__login-buttons {
	height: 100%;
}

.nav__logo {
	text-transform: uppercase;
}



.login-buttons * {
	height: 100%;
}


#skip-nav {
	position: absolute;
	background-color: #f5f5f5;
	padding: 0 0.5em 0.5em;
	border-radius: 0 0 0.5em 0.5em;
	transform: translateY(-120%);
	transition: transform 30ms ease;
}

#skip-nav:focus {
	transform: translateY(0);
}

.search-form {
	display: inline-block;
}

.sign-up-form {
	color: blue;
	background-color: gray;
	text-align: center;
}

#Foot {
	background-color: var(--theme-foot);
}

#app {
	background-color: var(--theme-bg);
}

#container {
	width: 100%;
	min-height: 100vh;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}